<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="mt-6 flow-root">
      <div class="inline-block min-w-full align-middle">
        <div class="rounded-lg bg-red-50 p-2 md:pt-0">
          <div class="md:hidden">
            <div class="mb-2 w-full rounded-md bg-white p-4">
              <div class="flex items-center justify-between border-b pb-4">
                <div>
                  <div class="mb-2 flex items-center">
                    <img
                      alt="Amy Burns's profile picture"
                      loading="lazy"
                      width="28"
                      height="28"
                      decoding="async"
                      data-nimg="1"
                      class="mr-2 rounded-full"
                      srcset="/_next/image?url=%2Fcustomers%2Famy-burns.png&w=32&q=75 1x, /_next/image?url=%2Fcustomers%2Famy-burns.png&w=64&q=75 2x"
                      src="/_next/image?url=%2Fcustomers%2Famy-burns.png&w=64&q=75"
                      style="color: transparent;"
                    /><p>Amy Burns</p>
                  </div><p class="text-sm text-gray-500">amy@burns.com</p>
                </div><span
                  class="inline-flex items-center rounded-full px-2 py-1 text-xs bg-gray-100 text-gray-500"
                  >Pending<svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    aria-hidden="true"
                    class="ml-1 w-4 text-gray-500"
                    ><path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"
                    ></path></svg
                  ></span>
              </div><div class="flex w-full items-center justify-between pt-4">
                <div>
                  <p class="text-xl font-medium">$100.00</p><p>Mar 12, 2024</p>
                </div><div class="flex justify-end gap-2">
                  <a
                    class="rounded-md border p-2 hover:bg-gray-100"
                    href="/dashboard/invoices/f72eb1b2-071b-48d9-8e9b-0cf749324d55/edit"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                      class="w-5"
                      ><path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
                      ></path></svg
                    ></a
                  ><form
                    action="javascript:throw new Error('A React form was unexpectedly submitted. If you called form.submit() manually, consider using form.requestSubmit() instead. If you\'re trying to use event.stopPropagation() in a submit event handler, consider also calling event.preventDefault().')"
                  >
                    <button class="rounded-md border p-2 hover:bg-gray-100"
                      ><span class="sr-only">Delete</span><svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="w-5"
                        ><path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                        ></path></svg
                      ></button>
                  </form>
                </div>
              </div>
            </div><div class="mb-2 w-full rounded-md bg-white p-4">
              <div class="flex items-center justify-between border-b pb-4">
                <div>
                  <div class="mb-2 flex items-center">
                    <img
                      alt="Lee Robinson's profile picture"
                      loading="lazy"
                      width="28"
                      height="28"
                      decoding="async"
                      data-nimg="1"
                      class="mr-2 rounded-full"
                      srcset="/_next/image?url=%2Fcustomers%2Flee-robinson.png&w=32&q=75 1x, /_next/image?url=%2Fcustomers%2Flee-robinson.png&w=64&q=75 2x"
                      src="/_next/image?url=%2Fcustomers%2Flee-robinson.png&w=64&q=75"
                      style="color: transparent;"
                    /><p>Lee Robinson</p>
                  </div><p class="text-sm text-gray-500">lee@robinson.com</p>
                </div><span
                  class="inline-flex items-center rounded-full px-2 py-1 text-xs bg-green-500 text-white"
                  >Paid<svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    aria-hidden="true"
                    class="ml-1 w-4 text-white"
                    ><path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M4.5 12.75l6 6 9-13.5"></path></svg
                  ></span>
              </div><div class="flex w-full items-center justify-between pt-4">
                <div>
                  <p class="text-xl font-medium">$100.00</p><p>Mar 6, 2024</p>
                </div><div class="flex justify-end gap-2">
                  <a
                    class="rounded-md border p-2 hover:bg-gray-100"
                    href="/dashboard/invoices/fbad7f1d-b6f8-4a30-b3e2-4d8eaf066d84/edit"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                      class="w-5"
                      ><path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
                      ></path></svg
                    ></a
                  ><form
                    action="javascript:throw new Error('A React form was unexpectedly submitted. If you called form.submit() manually, consider using form.requestSubmit() instead. If you\'re trying to use event.stopPropagation() in a submit event handler, consider also calling event.preventDefault().')"
                  >
                    <button class="rounded-md border p-2 hover:bg-gray-100"
                      ><span class="sr-only">Delete</span><svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="w-5"
                        ><path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                        ></path></svg
                      ></button>
                  </form>
                </div>
              </div>
            </div><div class="mb-2 w-full rounded-md bg-white p-4">
              <div class="flex items-center justify-between border-b pb-4">
                <div>
                  <div class="mb-2 flex items-center">
                    <img
                      alt="Balazs Orban's profile picture"
                      loading="lazy"
                      width="28"
                      height="28"
                      decoding="async"
                      data-nimg="1"
                      class="mr-2 rounded-full"
                      srcset="/_next/image?url=%2Fcustomers%2Fbalazs-orban.png&w=32&q=75 1x, /_next/image?url=%2Fcustomers%2Fbalazs-orban.png&w=64&q=75 2x"
                      src="/_next/image?url=%2Fcustomers%2Fbalazs-orban.png&w=64&q=75"
                      style="color: transparent;"
                    /><p>Balazs Orban</p>
                  </div><p class="text-sm text-gray-500">balazs@orban.com</p>
                </div><span
                  class="inline-flex items-center rounded-full px-2 py-1 text-xs bg-gray-100 text-gray-500"
                  >Pending<svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    aria-hidden="true"
                    class="ml-1 w-4 text-gray-500"
                    ><path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"
                    ></path></svg
                  ></span>
              </div><div class="flex w-full items-center justify-between pt-4">
                <div>
                  <p class="text-xl font-medium">$89.00</p><p>Feb 29, 2024</p>
                </div><div class="flex justify-end gap-2">
                  <a
                    class="rounded-md border p-2 hover:bg-gray-100"
                    href="/dashboard/invoices/39645cc0-116a-410d-beed-6f16d4b7d2fa/edit"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                      class="w-5"
                      ><path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
                      ></path></svg
                    ></a
                  ><form
                    action="javascript:throw new Error('A React form was unexpectedly submitted. If you called form.submit() manually, consider using form.requestSubmit() instead. If you\'re trying to use event.stopPropagation() in a submit event handler, consider also calling event.preventDefault().')"
                  >
                    <button class="rounded-md border p-2 hover:bg-gray-100"
                      ><span class="sr-only">Delete</span><svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="w-5"
                        ><path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                        ></path></svg
                      ></button>
                  </form>
                </div>
              </div>
            </div><div class="mb-2 w-full rounded-md bg-white p-4">
              <div class="flex items-center justify-between border-b pb-4">
                <div>
                  <div class="mb-2 flex items-center">
                    <img
                      alt="Delba de Oliveira's profile picture"
                      loading="lazy"
                      width="28"
                      height="28"
                      decoding="async"
                      data-nimg="1"
                      class="mr-2 rounded-full"
                      srcset="/_next/image?url=%2Fcustomers%2Fdelba-de-oliveira.png&w=32&q=75 1x, /_next/image?url=%2Fcustomers%2Fdelba-de-oliveira.png&w=64&q=75 2x"
                      src="/_next/image?url=%2Fcustomers%2Fdelba-de-oliveira.png&w=64&q=75"
                      style="color: transparent;"
                    /><p>Delba de Oliveira</p>
                  </div><p class="text-sm text-gray-500">delba@oliveira.com</p>
                </div><span
                  class="inline-flex items-center rounded-full px-2 py-1 text-xs bg-green-500 text-white"
                  >Paid<svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    aria-hidden="true"
                    class="ml-1 w-4 text-white"
                    ><path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M4.5 12.75l6 6 9-13.5"></path></svg
                  ></span>
              </div><div class="flex w-full items-center justify-between pt-4">
                <div>
                  <p class="text-xl font-medium">$89.45</p><p>Oct 4, 2023</p>
                </div><div class="flex justify-end gap-2">
                  <a
                    class="rounded-md border p-2 hover:bg-gray-100"
                    href="/dashboard/invoices/834e25a2-9437-4fe2-8b45-a3bc2bfb863e/edit"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                      class="w-5"
                      ><path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
                      ></path></svg
                    ></a
                  ><form
                    action="javascript:throw new Error('A React form was unexpectedly submitted. If you called form.submit() manually, consider using form.requestSubmit() instead. If you\'re trying to use event.stopPropagation() in a submit event handler, consider also calling event.preventDefault().')"
                  >
                    <button class="rounded-md border p-2 hover:bg-gray-100"
                      ><span class="sr-only">Delete</span><svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="w-5"
                        ><path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                        ></path></svg
                      ></button>
                  </form>
                </div>
              </div>
            </div><div class="mb-2 w-full rounded-md bg-white p-4">
              <div class="flex items-center justify-between border-b pb-4">
                <div>
                  <div class="mb-2 flex items-center">
                    <img
                      alt="Steven Tey's profile picture"
                      loading="lazy"
                      width="28"
                      height="28"
                      decoding="async"
                      data-nimg="1"
                      class="mr-2 rounded-full"
                      srcset="/_next/image?url=%2Fcustomers%2Fsteven-tey.png&w=32&q=75 1x, /_next/image?url=%2Fcustomers%2Fsteven-tey.png&w=64&q=75 2x"
                      src="/_next/image?url=%2Fcustomers%2Fsteven-tey.png&w=64&q=75"
                      style="color: transparent;"
                    /><p>Steven Tey</p>
                  </div><p class="text-sm text-gray-500">steven@tey.com</p>
                </div><span
                  class="inline-flex items-center rounded-full px-2 py-1 text-xs bg-green-500 text-white"
                  >Paid<svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    aria-hidden="true"
                    class="ml-1 w-4 text-white"
                    ><path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M4.5 12.75l6 6 9-13.5"></path></svg
                  ></span>
              </div><div class="flex w-full items-center justify-between pt-4">
                <div>
                  <p class="text-xl font-medium">$448.00</p><p>Sep 10, 2023</p>
                </div><div class="flex justify-end gap-2">
                  <a
                    class="rounded-md border p-2 hover:bg-gray-100"
                    href="/dashboard/invoices/78bfe5b9-2dae-4757-9566-088d09f2c56f/edit"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                      class="w-5"
                      ><path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
                      ></path></svg
                    ></a
                  ><form
                    action="javascript:throw new Error('A React form was unexpectedly submitted. If you called form.submit() manually, consider using form.requestSubmit() instead. If you\'re trying to use event.stopPropagation() in a submit event handler, consider also calling event.preventDefault().')"
                  >
                    <button class="rounded-md border p-2 hover:bg-gray-100"
                      ><span class="sr-only">Delete</span><svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="w-5"
                        ><path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                        ></path></svg
                      ></button>
                  </form>
                </div>
              </div>
            </div><div class="mb-2 w-full rounded-md bg-white p-4">
              <div class="flex items-center justify-between border-b pb-4">
                <div>
                  <div class="mb-2 flex items-center">
                    <img
                      alt="Lee Robinson's profile picture"
                      loading="lazy"
                      width="28"
                      height="28"
                      decoding="async"
                      data-nimg="1"
                      class="mr-2 rounded-full"
                      srcset="/_next/image?url=%2Fcustomers%2Flee-robinson.png&w=32&q=75 1x, /_next/image?url=%2Fcustomers%2Flee-robinson.png&w=64&q=75 2x"
                      src="/_next/image?url=%2Fcustomers%2Flee-robinson.png&w=64&q=75"
                      style="color: transparent;"
                    /><p>Lee Robinson</p>
                  </div><p class="text-sm text-gray-500">lee@robinson.com</p>
                </div><span
                  class="inline-flex items-center rounded-full px-2 py-1 text-xs bg-green-500 text-white"
                  >Paid<svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    aria-hidden="true"
                    class="ml-1 w-4 text-white"
                    ><path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M4.5 12.75l6 6 9-13.5"></path></svg
                  ></span>
              </div><div class="flex w-full items-center justify-between pt-4">
                <div>
                  <p class="text-xl font-medium">$5.00</p><p>Aug 19, 2023</p>
                </div><div class="flex justify-end gap-2">
                  <a
                    class="rounded-md border p-2 hover:bg-gray-100"
                    href="/dashboard/invoices/2ad14c21-2c88-4314-b2eb-2c86502c5cb7/edit"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                      class="w-5"
                      ><path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
                      ></path></svg
                    ></a
                  ><form
                    action="javascript:throw new Error('A React form was unexpectedly submitted. If you called form.submit() manually, consider using form.requestSubmit() instead. If you\'re trying to use event.stopPropagation() in a submit event handler, consider also calling event.preventDefault().')"
                  >
                    <button class="rounded-md border p-2 hover:bg-gray-100"
                      ><span class="sr-only">Delete</span><svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="w-5"
                        ><path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                        ></path></svg
                      ></button>
                  </form>
                </div>
              </div>
            </div>
          </div><table class="hidden min-w-full text-gray-900 md:table">
            <thead class="rounded-lg text-left text-sm font-normal"
              ><tr
                ><th scope="col" class="px-4 py-5 font-medium sm:pl-6"
                  >Customer</th
                ><th scope="col" class="px-3 py-5 font-medium">Email</th><th
                  scope="col"
                  class="px-3 py-5 font-medium">Amount</th
                ><th scope="col" class="px-3 py-5 font-medium">Date</th><th
                  scope="col"
                  class="px-3 py-5 font-medium">Status</th
                ><th scope="col" class="relative py-3 pl-6 pr-3"
                  ><span class="sr-only">Edit</span></th
                ></tr
              ></thead
            >
            <!--
                <tbody class="bg-white"
              ><tr
                class="w-full border-b py-3 text-sm last-of-type:border-none [&:first-child>td:first-child]:rounded-tl-lg [&:first-child>td:last-child]:rounded-tr-lg [&:last-child>td:first-child]:rounded-bl-lg [&:last-child>td:last-child]:rounded-br-lg"
                ><td class="whitespace-nowrap py-3 pl-6 pr-3"
                  ><div class="flex items-center gap-3">
                    <img
                      alt="Amy Burns's profile picture"
                      loading="lazy"
                      width="28"
                      height="28"
                      decoding="async"
                      data-nimg="1"
                      class="rounded-full"
                      srcset="/_next/image?url=%2Fcustomers%2Famy-burns.png&w=32&q=75 1x, /_next/image?url=%2Fcustomers%2Famy-burns.png&w=64&q=75 2x"
                      src="/_next/image?url=%2Fcustomers%2Famy-burns.png&w=64&q=75"
                      style="color: transparent;"
                    /><h1>Amy Burns</h1>
                  </div></td
                ><td class="whitespace-nowrap px-3 py-3">amy@burns.com</td><td
                  class="whitespace-nowrap px-3 py-3">$100.00</td
                ><td class="whitespace-nowrap px-3 py-3">Mar 12, 2024</td><td
                  class="whitespace-nowrap px-3 py-3"
                  ><span
                    class="inline-flex items-center rounded-full px-2 py-1 text-xs bg-gray-100 text-gray-500"
                    >Pending<svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                      class="ml-1 w-4 text-gray-500"
                      ><path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"
                      ></path></svg
                    ></span
                  ></td
                ><td class="whitespace-nowrap py-3 pl-6 pr-3"
                  ><div class="flex justify-end gap-3">
                    <a
                      class="rounded-md border p-2 hover:bg-gray-100"
                      href="/dashboard/invoices/f72eb1b2-071b-48d9-8e9b-0cf749324d55/edit"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="w-5"
                        ><path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
                        ></path></svg
                      ></a
                    ><form
                      action="javascript:throw new Error('A React form was unexpectedly submitted. If you called form.submit() manually, consider using form.requestSubmit() instead. If you\'re trying to use event.stopPropagation() in a submit event handler, consider also calling event.preventDefault().')"
                    >
                      <button class="rounded-md border p-2 hover:bg-gray-100"
                        ><span class="sr-only">Delete</span><svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          aria-hidden="true"
                          class="w-5"
                          ><path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                          ></path></svg
                        ></button>
                    </form>
                  </div></td
                ></tr
              ><tr
                class="w-full border-b py-3 text-sm last-of-type:border-none [&:first-child>td:first-child]:rounded-tl-lg [&:first-child>td:last-child]:rounded-tr-lg [&:last-child>td:first-child]:rounded-bl-lg [&:last-child>td:last-child]:rounded-br-lg"
                ><td class="whitespace-nowrap py-3 pl-6 pr-3"
                  ><div class="flex items-center gap-3">
                    <img
                      alt="Lee Robinson's profile picture"
                      loading="lazy"
                      width="28"
                      height="28"
                      decoding="async"
                      data-nimg="1"
                      class="rounded-full"
                      srcset="/_next/image?url=%2Fcustomers%2Flee-robinson.png&w=32&q=75 1x, /_next/image?url=%2Fcustomers%2Flee-robinson.png&w=64&q=75 2x"
                      src="/_next/image?url=%2Fcustomers%2Flee-robinson.png&w=64&q=75"
                      style="color: transparent;"
                    /><h1>Lee Robinson</h1>
                  </div></td
                ><td class="whitespace-nowrap px-3 py-3">lee@robinson.com</td
                ><td class="whitespace-nowrap px-3 py-3">$100.00</td><td
                  class="whitespace-nowrap px-3 py-3">Mar 6, 2024</td
                ><td class="whitespace-nowrap px-3 py-3"
                  ><span
                    class="inline-flex items-center rounded-full px-2 py-1 text-xs bg-green-500 text-white"
                    >Paid<svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                      class="ml-1 w-4 text-white"
                      ><path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 12.75l6 6 9-13.5"></path></svg
                    ></span
                  ></td
                ><td class="whitespace-nowrap py-3 pl-6 pr-3"
                  ><div class="flex justify-end gap-3">
                    <a
                      class="rounded-md border p-2 hover:bg-gray-100"
                      href="/dashboard/invoices/fbad7f1d-b6f8-4a30-b3e2-4d8eaf066d84/edit"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="w-5"
                        ><path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
                        ></path></svg
                      ></a
                    ><form
                      action="javascript:throw new Error('A React form was unexpectedly submitted. If you called form.submit() manually, consider using form.requestSubmit() instead. If you\'re trying to use event.stopPropagation() in a submit event handler, consider also calling event.preventDefault().')"
                    >
                      <button class="rounded-md border p-2 hover:bg-gray-100"
                        ><span class="sr-only">Delete</span><svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          aria-hidden="true"
                          class="w-5"
                          ><path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                          ></path></svg
                        ></button>
                    </form>
                  </div></td
                ></tr
              ><tr
                class="w-full border-b py-3 text-sm last-of-type:border-none [&:first-child>td:first-child]:rounded-tl-lg [&:first-child>td:last-child]:rounded-tr-lg [&:last-child>td:first-child]:rounded-bl-lg [&:last-child>td:last-child]:rounded-br-lg"
                ><td class="whitespace-nowrap py-3 pl-6 pr-3"
                  ><div class="flex items-center gap-3">
                    <img
                      alt="Balazs Orban's profile picture"
                      loading="lazy"
                      width="28"
                      height="28"
                      decoding="async"
                      data-nimg="1"
                      class="rounded-full"
                      srcset="/_next/image?url=%2Fcustomers%2Fbalazs-orban.png&w=32&q=75 1x, /_next/image?url=%2Fcustomers%2Fbalazs-orban.png&w=64&q=75 2x"
                      src="/_next/image?url=%2Fcustomers%2Fbalazs-orban.png&w=64&q=75"
                      style="color: transparent;"
                    /><h1>Balazs Orban</h1>
                  </div></td
                ><td class="whitespace-nowrap px-3 py-3">balazs@orban.com</td
                ><td class="whitespace-nowrap px-3 py-3">$89.00</td><td
                  class="whitespace-nowrap px-3 py-3">Feb 29, 2024</td
                ><td class="whitespace-nowrap px-3 py-3"
                  ><span
                    class="inline-flex items-center rounded-full px-2 py-1 text-xs bg-gray-100 text-gray-500"
                    >Pending<svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                      class="ml-1 w-4 text-gray-500"
                      ><path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"
                      ></path></svg
                    ></span
                  ></td
                ><td class="whitespace-nowrap py-3 pl-6 pr-3"
                  ><div class="flex justify-end gap-3">
                    <a
                      class="rounded-md border p-2 hover:bg-gray-100"
                      href="/dashboard/invoices/39645cc0-116a-410d-beed-6f16d4b7d2fa/edit"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="w-5"
                        ><path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
                        ></path></svg
                      ></a
                    ><form
                      action="javascript:throw new Error('A React form was unexpectedly submitted. If you called form.submit() manually, consider using form.requestSubmit() instead. If you\'re trying to use event.stopPropagation() in a submit event handler, consider also calling event.preventDefault().')"
                    >
                      <button class="rounded-md border p-2 hover:bg-gray-100"
                        ><span class="sr-only">Delete</span><svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          aria-hidden="true"
                          class="w-5"
                          ><path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                          ></path></svg
                        ></button>
                    </form>
                  </div></td
                ></tr
              ><tr
                class="w-full border-b py-3 text-sm last-of-type:border-none [&:first-child>td:first-child]:rounded-tl-lg [&:first-child>td:last-child]:rounded-tr-lg [&:last-child>td:first-child]:rounded-bl-lg [&:last-child>td:last-child]:rounded-br-lg"
                ><td class="whitespace-nowrap py-3 pl-6 pr-3"
                  ><div class="flex items-center gap-3">
                    <img
                      alt="Delba de Oliveira's profile picture"
                      loading="lazy"
                      width="28"
                      height="28"
                      decoding="async"
                      data-nimg="1"
                      class="rounded-full"
                      srcset="/_next/image?url=%2Fcustomers%2Fdelba-de-oliveira.png&w=32&q=75 1x, /_next/image?url=%2Fcustomers%2Fdelba-de-oliveira.png&w=64&q=75 2x"
                      src="/_next/image?url=%2Fcustomers%2Fdelba-de-oliveira.png&w=64&q=75"
                      style="color: transparent;"
                    /><h1>Delba de Oliveira</h1>
                  </div></td
                ><td class="whitespace-nowrap px-3 py-3">delba@oliveira.com</td
                ><td class="whitespace-nowrap px-3 py-3">$89.45</td><td
                  class="whitespace-nowrap px-3 py-3">Oct 4, 2023</td
                ><td class="whitespace-nowrap px-3 py-3"
                  ><span
                    class="inline-flex items-center rounded-full px-2 py-1 text-xs bg-green-500 text-white"
                    >Paid<svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                      class="ml-1 w-4 text-white"
                      ><path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 12.75l6 6 9-13.5"></path></svg
                    ></span
                  ></td
                ><td class="whitespace-nowrap py-3 pl-6 pr-3"
                  ><div class="flex justify-end gap-3">
                    <a
                      class="rounded-md border p-2 hover:bg-gray-100"
                      href="/dashboard/invoices/834e25a2-9437-4fe2-8b45-a3bc2bfb863e/edit"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="w-5"
                        ><path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
                        ></path></svg
                      ></a
                    ><form
                      action="javascript:throw new Error('A React form was unexpectedly submitted. If you called form.submit() manually, consider using form.requestSubmit() instead. If you\'re trying to use event.stopPropagation() in a submit event handler, consider also calling event.preventDefault().')"
                    >
                      <button class="rounded-md border p-2 hover:bg-gray-100"
                        ><span class="sr-only">Delete</span><svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          aria-hidden="true"
                          class="w-5"
                          ><path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                          ></path></svg
                        ></button>
                    </form>
                  </div></td
                ></tr
              ><tr
                class="w-full border-b py-3 text-sm last-of-type:border-none [&:first-child>td:first-child]:rounded-tl-lg [&:first-child>td:last-child]:rounded-tr-lg [&:last-child>td:first-child]:rounded-bl-lg [&:last-child>td:last-child]:rounded-br-lg"
                ><td class="whitespace-nowrap py-3 pl-6 pr-3"
                  ><div class="flex items-center gap-3">
                    <img
                      alt="Steven Tey's profile picture"
                      loading="lazy"
                      width="28"
                      height="28"
                      decoding="async"
                      data-nimg="1"
                      class="rounded-full"
                      srcset="/_next/image?url=%2Fcustomers%2Fsteven-tey.png&w=32&q=75 1x, /_next/image?url=%2Fcustomers%2Fsteven-tey.png&w=64&q=75 2x"
                      src="/_next/image?url=%2Fcustomers%2Fsteven-tey.png&w=64&q=75"
                      style="color: transparent;"
                    /><h1>Steven Tey</h1>
                  </div></td
                ><td class="whitespace-nowrap px-3 py-3">steven@tey.com</td><td
                  class="whitespace-nowrap px-3 py-3">$448.00</td
                ><td class="whitespace-nowrap px-3 py-3">Sep 10, 2023</td><td
                  class="whitespace-nowrap px-3 py-3"
                  ><span
                    class="inline-flex items-center rounded-full px-2 py-1 text-xs bg-green-500 text-white"
                    >Paid<svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                      class="ml-1 w-4 text-white"
                      ><path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 12.75l6 6 9-13.5"></path></svg
                    ></span
                  ></td
                ><td class="whitespace-nowrap py-3 pl-6 pr-3"
                  ><div class="flex justify-end gap-3">
                    <a
                      class="rounded-md border p-2 hover:bg-gray-100"
                      href="/dashboard/invoices/78bfe5b9-2dae-4757-9566-088d09f2c56f/edit"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="w-5"
                        ><path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
                        ></path></svg
                      ></a
                    ><form
                      action="javascript:throw new Error('A React form was unexpectedly submitted. If you called form.submit() manually, consider using form.requestSubmit() instead. If you\'re trying to use event.stopPropagation() in a submit event handler, consider also calling event.preventDefault().')"
                    >
                      <button class="rounded-md border p-2 hover:bg-gray-100"
                        ><span class="sr-only">Delete</span><svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          aria-hidden="true"
                          class="w-5"
                          ><path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                          ></path></svg
                        ></button>
                    </form>
                  </div></td
                ></tr
              ><tr
                class="w-full border-b py-3 text-sm last-of-type:border-none [&:first-child>td:first-child]:rounded-tl-lg [&:first-child>td:last-child]:rounded-tr-lg [&:last-child>td:first-child]:rounded-bl-lg [&:last-child>td:last-child]:rounded-br-lg"
                ><td class="whitespace-nowrap py-3 pl-6 pr-3"
                  ><div class="flex items-center gap-3">
                    <img
                      alt="Lee Robinson's profile picture"
                      loading="lazy"
                      width="28"
                      height="28"
                      decoding="async"
                      data-nimg="1"
                      class="rounded-full"
                      srcset="/_next/image?url=%2Fcustomers%2Flee-robinson.png&w=32&q=75 1x, /_next/image?url=%2Fcustomers%2Flee-robinson.png&w=64&q=75 2x"
                      src="/_next/image?url=%2Fcustomers%2Flee-robinson.png&w=64&q=75"
                      style="color: transparent;"
                    /><h1>Lee Robinson</h1>
                  </div></td
                ><td class="whitespace-nowrap px-3 py-3">lee@robinson.com</td
                ><td class="whitespace-nowrap px-3 py-3">$5.00</td><td
                  class="whitespace-nowrap px-3 py-3">Aug 19, 2023</td
                ><td class="whitespace-nowrap px-3 py-3"
                  ><span
                    class="inline-flex items-center rounded-full px-2 py-1 text-xs bg-green-500 text-white"
                    >Paid<svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                      class="ml-1 w-4 text-white"
                      ><path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 12.75l6 6 9-13.5"></path></svg
                    ></span
                  ></td
                ><td class="whitespace-nowrap py-3 pl-6 pr-3"
                  ><div class="flex justify-end gap-3">
                    <a
                      class="rounded-md border p-2 hover:bg-gray-100"
                      href="/dashboard/invoices/2ad14c21-2c88-4314-b2eb-2c86502c5cb7/edit"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="w-5"
                        ><path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
                        ></path></svg
                      ></a
                    ><form
                      action="javascript:throw new Error('A React form was unexpectedly submitted. If you called form.submit() manually, consider using form.requestSubmit() instead. If you\'re trying to use event.stopPropagation() in a submit event handler, consider also calling event.preventDefault().')"
                    >
                      <button class="rounded-md border p-2 hover:bg-gray-100"
                        ><span class="sr-only">Delete</span><svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          aria-hidden="true"
                          class="w-5"
                          ><path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                          ></path></svg
                        ></button>
                    </form>
                  </div></td
                ></tr
              >
            </tbody>
             -->
            
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
