---
import Dashboard from "../components/Dashboard";
import Layout from "../layouts/Layout.astro";

// Fetch data server-side
import { fetchRevenue, fetchLatestInvoices, fetchCardData } from "../lib/data";

const revenue = await fetchRevenue();
const latestInvoices = await fetchLatestInvoices();
const cardData = await fetchCardData();
---

<html>
  <head>
    <title>Dashboard</title>
  </head>
  <body>
    <main>
      <h1 className={` mb-4 text-xl md:text-2xl`}>Dashboard</h1>

      <div className="flex-grow p-6 md:overflow-y-auto md:p-12">
        {/* Dashboard Section */}
        <Dashboard
          revenue={revenue}
          latestInvoices={latestInvoices}
          cardData={cardData}
        />
      </div>
    </main>
  </body>
</html>
